{% extends "base.html" %}

{% block title %}Welcome to MapMorph{% endblock %}

{% block content %}
<style>
    /* Fullscreen Background */
    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('{{ url_for('static', filename='background.gif') }}') no-repeat center center fixed;
        background-size: cover;
        height: 85vh;
        text-align: center;
        position: relative;
    }
</style>

<div class="overlay">
    <div class="content-box">
        <h1>MapMorph</h1>
        <p>Generate high-quality PBR textures from your images with ease from desktop or mobile devices. No installation, no dependancies, no hardware requirements!</p>
        <button class="btn btn-primary" onclick="window.location.href='{{ url_for('processing') }}'">Try for Free*</button>
        <button class="btn btn-secondary" onclick="window.location.href='{{ url_for('auth') }}'">Create Free Account</button>
        <p style="color: #f1f1f1; font-size: 0.9rem; margin-top: 10px;">
            * 1 map extraction = 1 token <br>
            * Guests are limited to 5 tokens per hour and have limited functinality. <br>
            * Creating a free account raises limit to 30 tokens per hour. <br>
            * Premium AI features are available through our affordable subscription plan. <br>
            * We offer special deals for cheaper tokens through API access.
        </p>
    </div>
</div>

<!> <!-- Feature list -->

<br>

<div class="text-center">
  <h1>Explore Features:</h1>
</div>

<div class="row flex-lg-row-reverse align-items-center g-sm-5 py-5">
    <div class="col-lg-6 bg-body-tertiary rounded pt-3">
      <h1 class="display-5 text-body-emphasis lh-1 mb-3">Intelligent Texture Extraction</h1>
      <p class="lead">Easily create your desired materials from photos or color textures. MapMorph is flexible and adapts to your desired texturing pipelines, expanding to more users every day.</p>
    </div>
    <div class="col-lg-6">
      <img src="static/mainexample1.jpg" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
    </div>
  </div>


<div class="row justify-content-end align-items-center g-sm-5 py-5">
    <div class="col-lg-6 bg-body-tertiary rounded pt-3 text-end">
        <h1 class="display-5 text-body-emphasis lh-1 mb-3">Seamless User Experience</h1>
        <p class="lead">No installation, no dependancies, no hardware requirements. Minimal effort, maximum results.</p>
    </div>
    <div class="col-lg-6 text-end">
        <img src="static/mainexample2.webp" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
    </div>
</div>
 
<div class="row flex-lg-row-reverse align-items-center g-sm-5 py-5">
    <div class="col-lg-6 bg-body-tertiary rounded pt-3">
      <h1 class="display-5 text-body-emphasis lh-1 mb-3">Supports your Organization's Workflows</h1>
      <p class="lead">Integrates seamlessly into industry standard tools like Unreal Engine, and offers advanced API options for proprietary applications.</p>
    </div>
    <div class="col-lg-6">
      <img src="static/mainexample6.png" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
    </div>
  </div>

  <div class="row justify-content-end align-items-center g-sm-5 py-5">
    <div class="col-lg-6 bg-body-tertiary rounded pt-3 text-end">
        <h1 class="display-5 text-body-emphasis lh-1 mb-3">Texel Density Setter</h1>
        <p class="lead">MapMorph is a stand-alone software designed for AI-powered texture authoring. Generate PBR textures using text prompts or by drag &amp; dropping your photos.</p>
    </div>
    <div class="col-lg-6 text-end">
        <img src="static/mainexample4.png" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
    </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-sm-5 py-5">
    <div class="col-lg-6 bg-body-tertiary rounded pt-3">
      <h1 class="display-5 text-body-emphasis lh-1 mb-3">AI-Powered Material Segmentation</h1>
      <p class="lead">MapMorph is a stand-alone software designed for AI-powered texture authoring. Generate PBR textures using text prompts or by drag &amp; dropping your photos.</p>
    </div>
    <div class="col-lg-6">
      <img src="static/mainexample5.png" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
    </div>
  </div>



  <div class="row justify-content-end align-items-center g-sm-5 py-5">
    <div class="col-lg-6 bg-body-tertiary rounded pt-3 text-end">
        <h1 class="display-5 text-body-emphasis lh-1 mb-3">Available on the Go!</h1>
        <p class="lead">MapMorph works on your phone and tablet for quick experimentation on the field.</p>
    </div>
    <div class="col-lg-6 text-end">
        <img src="static/mainexample3.webp" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
    </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-sm-5 py-5">
  <div class="col-lg-6 bg-body-tertiary rounded pt-3">
    <h1 class="display-5 text-body-emphasis lh-1 mb-3">And many more features!</h1>
    <p class="lead">MapMorph is a stand-alone software designed for AI-powered texture authoring. Generate PBR textures using text prompts or by drag &amp; dropping your photos.</p>
  </div>
  <div class="col-lg-6">
    <img src="static/mainexample1.jpg" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
  </div>
</div>

  <div class="px-4 pt-5 my-5 text-center bg-body-tertiary">
    <h1 class="display-4 fw-bold text-body-emphasis">Runs Everywhere</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">MapMorph is platform agnostic and runs on compatible browsers on <b>Windows</b>, <b>Linux</b>, <b>macOS</b> with <b>iOS</b> and <b>Android</b> support coming soon. Use MapMorph through your preferred browser on your desktop and laptop computers, as well as mobile devices such as tablets and phones.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <a href="{{ url_for('processing') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Get Started Now</button></a>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <a href="{{ url_for('pricing') }}"><button type="button" class="btn btn-secondary btn-lg px-4 me-sm-3">Explore access plans</button></a>
    </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
    <div class="container px-5">
    <img src="static/platforms.png" class="img-fluid rounded-3 mb-4" width="700" height="500" loading="lazy">
    </div>
  </div>


{% endblock %}
